.vs/
x64/
OracleOfCopying.sln
OracleOfCopying/textures/
OracleOfCopying/x64/
OracleOfCopying/OracleOfCopying.vcxproj
OracleOfCopying/OracleOfCopying.vcxproj.filters
OracleOfCopying/OracleOfCopying.vcxproj.user
OracleOfCopying/SDL2.dll
