.vs/
x64/
oracle_of_seasons_texture_rips/
OracleOfCopying.sln
OoCDLL/OoCDLL.vcxproj
OoCDLL/OoCDLL.vcxproj.filters
OoCDLL/OoCDLL.vcxproj.user
OracleOfCopying/textures/
OracleOfCopying/x64/
OracleOfCopying/SDL2.dll
OracleOfCopying/OracleOfCopying.vcxproj
OracleOfCopying/OracleOfCopying.vcxproj.filters
OracleOfCopying/OracleOfCopying.vcxproj.user
/.vs/OracleOfCopying/v17/
/.vs/OracleOfCopying/FileContentIndex/
/OracleOfCopying/x64/Debug/
/OracleOfCopying/x64/Debug/OracleOfCopying.tlog/
/OracleOfCopying/OracleOfCopying.vcxproj
/OracleOfCopying/OracleOfCopying.vcxproj.filters
x64/Debug/
/x64/Debug/SDL2_image.dll
/x64/Release/SDL2_image.dll
/AtlasGen/AtlasGen.vcxproj
/AtlasGen/AtlasGen.vcxproj.user
/OoCDLL/OoCDLL.vcxproj
/OoCDLL/OoCDLL.vcxproj.filters
/OoCDLL/OoCDLL.vcxproj.user
.vs/OracleOfCopying/FileContentIndex
.vs/OracleOfCopying/FileContentIndex/read.lock
/OracleOfCopying/x64/Release/OracleOfCopying.tlog/Cl.items.tlog
/AtlasGen/AtlasGen.vcxproj
/AtlasGen/AtlasGen.vcxproj.user
/OracleOfCopying/x64/Release/OracleOfCopying.tlog/CL.command.1.tlog
/OracleOfCopying/x64/Release/OracleOfCopying.tlog/CL.read.1.tlog
/OracleOfCopying/x64/Release/OracleOfCopying.tlog/CL.write.1.tlog
/OracleOfCopying/x64/Release/OracleOfCopying.tlog/link.command.1.tlog
/OracleOfCopying/x64/Release/OracleOfCopying.tlog/link.read.1.tlog
/OracleOfCopying/x64/Release/OracleOfCopying.tlog/link.write.1.tlog
/OracleOfCopying/x64/Release/OracleOfCopying.tlog/OracleOfCopying.lastbuildstate
/OracleOfCopying/x64/Release/OracleOfCopying.exe.recipe
/OracleOfCopying/x64/Release/OracleOfCopying.iobj
/OracleOfCopying/x64/Release/OracleOfCopying.ipdb
/OracleOfCopying/x64/Release/OracleOfCopying.log
/OracleOfCopying/x64/Release/vc143.pdb
/OracleOfCopying/x64/Release/ooc.obj
/x64/Release/OracleOfCopying.exe
/x64/Release/OracleOfCopying.pdb
/OracleOfCopying.sln
/Qoiconv/Qoiconv.vcxproj
*.filters
*.user
/AtlasGen/AtlasGen.vcxproj
